if SHIELD_SMCBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "smcboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SMCBOARD_LEFT || SHIELD_SMCBOARD_RIGHT

config ZMK_SPLIT
    default y

endif