/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define SYM  1
#define FN   2
#define NAV  3


&mt {
	flavor = "tap-preferred";
	tapping_term_ms = <200>;
};

/ { 


	behaviors {
		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <220>;
			quick_tap_ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
		td: tapdance {
			compatible = "zmk,behavior-hold-tap";
			label = "TAPDANCE";
			#binding-cells = <2>;
			tapping-term-ms = <150>;
			quick_tap_ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
		llt: layerlayertap {
			compatible = "zmk,behavior-hold-tap";
			label = "LAYERLAYERTAP";
			#binding-cells = <2>;
			tapping-term-ms = <150>;
			quick_tap_ms = <0>;
			flavor = "tap-preferred";
			retro-tap;
			bindings = <&mo>, <&to>;
		};
	};

		keymap {
			compatible = "zmk,keymap";
				
			default_layer {
				bindings = <
					&kp Q &kp W &kp F &kp P &kp B &kp J &kp L &kp U &kp Y &SEMI
					&hm LSHIFT A &hm LALT R &hm LCTRL S &hm LGUI T &kp G &kp M &hm RGUI N &hm RCTRL E &hm RALT I &hm RSHIFT O
					&kp Z &kp X &kp C &kp D &kp V &kp K &kp H &kp COMMA &kp DOT &kp SLASH  
					&mt LC(LS(LALT)) SPC &kp LSHIFT &llt NAV BASE &to SYM
				>;
			};

			symbol_layer {
				bindings = <
					&kp EXCL &kp ATSN &kp HASH &kp DLLR &kp PRCNT &kp CARET &kp AMPS &kp STAR &kp MINUS &EQUAL 
					&hm LSHFT N1 &hm LALT N2 &hm LCTRL N3 &hm LGUI N4 &kp N5 &kp N6 &hm RGUI N7 &hm RCTRL N8 &hm RALT N9 &hm RSHFT N0
					&kp TILDE &none &kp COMMA &kp DOT &kp SQT  &kp LBKT &kp LPRN &kp RPRN &kp RBKT &kp BSLH 
					&trans &trans &trans &to FN
				>;
			};
		
			function_layer {
				bindings = <
					&none &none &none &none &none &none &none &none &none &none
					&hm LSHFT F1 &hm LALT F2 &hm LCTRL F3 &hm LGUI F4 &kp F5 &kp F6 &hm RGUI F7 &hm RCTRL F8 &hm RALT F9 &hm RSHFT F10
					&none &none &bt BT_PRV &bt BT_NXT &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none &none
					&trans &trans &trans &to SYM
				>;
			};
		
			nav_layer {
				bindings = <
					&kp ESC &none &kp C_VOL_DN &kp C_VOL_UP &none &kp ESC &kp TAB &none &kp DEL &kp BSPC
					&kp LSHFT &kp LALT &kp LCTRL &kp LGUI &none &kp PG_UP &kp HOME &kp UP &kp END &kp ENTER
					&none &none &kp C_BRI_DN &kp C_BRI_UP &none &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &none
					&trans &trans &trans &none
				>;
			};
		
	};
};

